* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  max-width: 120px;
  margin: 0 auto;
}

.container {
  width: 90%;
  max-width: 360px;
  margin: 0 auto;
  position: relative;
}

input {
  display: block;
  width: 100%;
  margin: 0.5em 0;
}

input[type='text'] {
  padding: 0.5em;
}

.err {
  text-align: left;
  color: red;
  font-size: 0.8em;
}

.btn {
  padding: 0.6em;
  font-size: 1em;
  background-color: #333;
  color: #fff;
  letter-spacing: 2px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-control {
  margin: 1.5em 0;
}

::-webkit-datetime-edit {
  padding: 0.5em;
}
::-webkit-inner-spin-button {
  display: none;
}

form {
  text-align: left;
}

.output {
  display: none;
  margin: 2em 0;
}

.footer {
  width: 100%;
  padding: 0.8em;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #333;
}
